.newGallery {
  padding: 15px 12px 0px 12px;
  .leftContent {
    background: url(/assets/image1.jpg);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 303px;
  }
  .rightTop {
    background: url(/assets/image3.jpg);
    height: fit-content;
    background-size: cover;
    background-position: center;
    height: 150px;
    padding-bottom: 5px;
  }
  .right3 {
    background: url(/assets/image2.jpg);
    height: fit-content;
    background-size: cover;
    height: 150px;
  }
  .right4 {
    background: url(/assets/image4.jpg);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
  }
}

.my-col {
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 0;
}

//queries media

@media only screen and (max-width: 991.5px) {
}
@media only screen and (max-width: 769px) {
}
@media only screen and (max-width: 321px) {
}
@media only screen and (max-width: 576px) {
}
