.newGallery {
  padding: 15px 12px 0px 12px;
}

.newGallery .leftContent {
  background: url(/assets/image1.jpg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 403px;
}

.newGallery .rightTop {
  background: url(/assets/image3.jpg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-position: center;
  height: 200px;
  padding-bottom: 5px;
}

.newGallery .right3 {
  background: url(/assets/image2.jpg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  height: 200px;
}

.newGallery .right4 {
  background: url(/assets/image4.jpg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.my-col {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 0;
}

.trendingNews-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

.trendingNewsContent {
  position: relative;
}

.trendingNewsContent .trendingNewsHeader {
  border-bottom: 2px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.trendingNewsContent .trendingNewsHeader:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 4px solid #f5776e;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 36.5px;
}

.trendingNewsContent .trendingNewsHeader:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #f5776e;
  position: absolute;
  top: 36.5px;
}

.trendingNewsContent .trendingNewsHeader .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.trendingNewsContent .trendingNewsHeader .right ul {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.trendingNewsContent .trendingNewsHeader .right ul li {
  margin: 0 5px;
}

.trendingNewsContent .trendingNewsHeader .right ul li.active {
  color: #f5776e;
}

.trendingNewsContent .trendingNewsHeader .right ul li.threeDots {
  font-weight: 600;
  font-size: 14px;
}

.trendingNewsContent .trendingNewsHeader .right ul .arrow {
  border: 0.5px solid lightgray;
  padding: 1px 5px;
  margin: 2px;
  color: lightgray;
  font-size: 10px;
}

.trendingNewsContent .trendingNewsHeader .left span {
  color: #f5776e;
  font-weight: 600;
  font-size: 18px;
}

.main-left .trendingNews {
  padding-top: 20px;
}

.main-left .trendingNews .col-left .leftContent {
  background: url(/assets/news1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 415px;
}

.main-left .trendingNews .col-right .rightContent {
  display: block;
  font-size: 11px;
}

.main-left .trendingNews .col-right .rightContent .rightNew {
  margin-top: 0px;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.main-left .trendingNews .col-right .rightContent .rightNew .rightNew-text {
  padding-left: 10px;
}

.main-left .trendingNews .col-right .rightContent .rightNew .rightNew-text .date {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-left .trendingNews .col-right .rightContent .rightNew .rightNew-text .date i {
  padding-right: 5px;
}

.main-left .trendingNews .col-right .rightContent .rightNew .rightNew-text .title {
  font-size: 13px;
  font-weight: 500;
}

.main-right {
  border: 1px solid green;
}

.categoriesContent {
  margin-top: 35px;
  background-color: #222327;
  color: lightgray;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.categoriesContent .categoriesHeader {
  border-bottom: 2px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.categoriesContent .categoriesHeader:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 4px solid #f5776e;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 57px;
}

.categoriesContent .categoriesHeader:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #f5776e;
  position: absolute;
  top: 57px;
}

.categoriesContent .categoriesHeader .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.categoriesContent .categoriesHeader .right ul {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.categoriesContent .categoriesHeader .right ul li {
  margin: 0 5px;
}

.categoriesContent .categoriesHeader .right ul li.active {
  color: #f5776e;
}

.categoriesContent .categoriesHeader .right ul .arrow {
  border: 0.5px solid lightgray;
  padding: 1px 5px;
  margin: 2px;
  color: lightgray;
  font-size: 10px;
}

.categoriesContent .categoriesHeader .left span {
  color: #f5776e;
  font-weight: 600;
  font-size: 18px;
}

.categoriesContent .contentLeft span {
  position: absolute;
  bottom: 10px;
  right: 30px;
  vertical-align: bottom;
  background: #09d350;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: 400;
  color: white;
}

.categoriesContent .contentLeft img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.categoriesContent .contentRight {
  display: inline-block;
  font-size: 11px;
}

.categoriesContent .contentRight .infoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoriesContent .contentRight .infoWrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoriesContent .contentRight .infoWrapper .info i {
  margin-right: 5px;
}

.categoriesContent .contentRight .infoWrapper .info-red {
  color: red;
  letter-spacing: 0.5px;
}

.categoriesContent .contentRight .header {
  margin-top: 10px;
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.categoriesContent .contentRight .detail {
  margin-top: 10px;
  opacity: 0.8;
}

.categoriesContent .contentRight button {
  margin-top: 10px;
  border: none;
  background: #05c046;
  font-size: 13px;
  color: white;
  font-weight: 500;
  padding: 11px 17px;
  border-radius: 4px;
}

.categoriesContent .category-down-row .myCol {
  padding-top: 15px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoriesContent .category-down-row .myCol .detail {
  display: -ms-grid;
  display: grid;
  padding-left: 8px;
  text-align: left;
}

.categoriesContent .category-down-row .myCol .detail span {
  color: white;
  font-weight: 500;
  margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
  .hideForSmall {
    display: none;
  }
}

@media only screen and (max-width: 991.5px) {
  .newGallery .leftContent {
    height: 253px;
  }
  .newGallery .rightTop {
    height: 200px;
  }
  .newGallery .right3 {
    height: 200px;
  }
  .newGallery .right4 {
    height: 200px;
  }
}

@media only screen and (max-width: 769px) {
  .newGallery .leftContent {
    height: 153px;
  }
  .newGallery .rightTop {
    height: 100px;
  }
  .newGallery .right3 {
    height: 100px;
  }
  .newGallery .right4 {
    height: 100px;
  }
  .my-col {
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .main-left .trendingNews .col-right .rightContent .rightNew {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .main-left .trendingNews .col-left .leftContent {
    height: 303px;
  }
  .categoriesContent .contentRight {
    padding-top: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: white;
}

nav {
  -webkit-box-shadow: 0px -2px 30px 0px #c4c2c4;
          box-shadow: 0px -2px 30px 0px #c4c2c4;
}

.navTop {
  background-color: white;
  border-bottom: 1px solid lightgray;
  font-size: 13px;
  width: 100%;
  height: 30px;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navTop .container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.navTop .container .navTopLeft {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

.navTop .container .navTopLeft .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navTop .container .navTopLeft .time i {
  padding-right: 5px;
}

.navTop .container .navTopLeft .time p {
  margin: 0;
}

.navTop .container .navTopLeft .topNewsHeader {
  background-color: red;
  height: 30px;
  text-align: center;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
  padding: 3px 10px;
  color: white;
  margin: 0 10px;
}

.navTop .container .navTopRight {
  height: 30px;
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

.navTop .container .navTopRight .rihtIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

.navTop .container .navTopRight .rihtIcons i {
  margin-left: 10px;
}

.navTop .container .navTopRight .rihtIcons .left-right {
  border: 0.5px solid rgba(128, 128, 128, 0.315);
  padding: 3px 4px;
  background-color: transparent;
  color: #929292;
  font-weight: 100;
  font-size: 10px;
}

.navMiddle {
  margin: 20px 0;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMiddle .container {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMiddle .container .logo .mobilToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
}

.navMiddle .container .logo .mobilToggle .left {
  margin-left: 5px;
}

.navMiddle .container .logo .mobilToggle .right {
  margin-right: 5px;
}

.navMiddle .container .logo .mobilToggle img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 49px !important;
  width: auto;
}

.navMiddle .container .logo .mobilToggle .left span,
.navMiddle .container .logo .mobilToggle i {
  margin-right: 9px;
}

.navMiddle .container .logo .mobilToggle .right i {
  margin-right: 9px;
}

.navMiddle .container .adBanner {
  margin-left: auto;
  float: right;
}

.navMiddle .container .adBanner img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: auto;
}

.navMainWrapper {
  height: 60px;
}

.navMainWrapper .navMain {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f2024;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navMainWrapper .navMain .navMain-Left {
  color: white;
}

.navMainWrapper .navMain .navMain-Left ul {
  padding-left: 6px;
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.navMainWrapper .navMain .navMain-Left ul li {
  margin-right: 15px;
}

.navMainWrapper .navMain .navMain-Right {
  color: white;
}

.navMainWrapper .navMain .navMain-Right ul {
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMainWrapper .navMain .navMain-Right ul li {
  margin-right: 15px;
}

.navMainWrapper .navMain .navMain-Right ul .nav-search {
  background: none;
  border: none;
  border-left: 1px solid gray;
}

.navMainWrapper .navMain .navMain-Right ul .nav-search-icon {
  border: none;
  background: transparent !important;
  color: gray;
}

@media only screen and (max-width: 991.5px) {
  .disappearForTablet {
    display: none;
  }
  .navMiddle .container {
    display: inline-block;
  }
  .navMiddle .container .adBanner {
    float: unset;
    margin-left: unset;
    text-align: center;
  }
  .container {
    max-width: unset;
    padding: 0;
  }
  nav {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .navMiddle {
    margin: 0;
  }
  .navMiddle .logo {
    -webkit-box-shadow: 0 6px 6px -5px lightgrey;
            box-shadow: 0 6px 6px -5px lightgrey;
  }
  .adBanner {
    padding: 13px 0;
  }
}

@media only screen and (max-width: 769px) {
  .disappearForMobil {
    display: none;
  }
  .container {
    max-width: unset;
  }
}

@media only screen and (max-width: 321px) {
  .container {
    max-width: unset;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: unset;
  }
  .navMiddle .container .logo .mobilToggle {
    font-size: 14px;
  }
  .navMiddle .container .logo .mobilToggle img {
    max-height: 32px !important;
  }
}

@media only screen and (min-width: 991.5px) {
  .showOnTablet {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */